certifi==2020.12.5
h3==3.7.2
numpy==1.20.3
pandas==1.2.4
python-dateutil==2.8.1
pytz==2021.1
Shapely==1.7.1
six==1.16.0
pydantic==1.8.2
shapely==1.7.1
mip==1.13.0
ipython==7.24.1
keplergl==0.2.2
xgboost==1.4.2
networkx==2.6.2    